*__pycache__*
*.xcf
planning/ui_planning.xcf
videos/
gl_examples/
.idea
*.mp4
dist/
build/
logs/
save_data/*
assets/sounds/library/*
src/spritesheet.png
balance.ods
merch/*
test_saves/*
*.wav
*.lnk
make_legit_builds.txt
info/version_override.json
*.DS_Store
